<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Imaginarte - Cadastro</title>
  <link rel="stylesheet" th:href="@{/css/cadastroProduto.css}" type="text/css">
</head>

<body>

<div class="container">
  <div class="formulario">

    <h2>Insira os dados</h2>

    <form th:action="@{/produtos/cadastroProduto}" method="post" enctype="multipart/form-data"
          th:object="${produtoAdminDto}" onsubmit="return validarFormulario(this)">

      <!-- Campo oculto para armazenar o ID do produto -->
      <input type="hidden" id="id" name="id" th:field="*{id}">

      <div class="mb-3">
        <input class="form-control" th:field="*{nome}" type="text" placeholder="Nome do Produto" required>
      </div>

      <div class="mb-3">
        <input class="form-control" th:field="*{preco}" type="text" placeholder="Preço" required>
      </div>

      <div class="mb-3">
        <input class="form-control" th:field="*{quantidade}" type="text" placeholder="Quantidade" required>
      </div>

      <div class="mb-3">
        <input class="form-control" th:field="*{descricao}" type="text" placeholder="Descrição" required>
      </div>

      <div class="mb-3">
        <input class="form-control" th:field="*{avaliacao}" type="text" placeholder="Avaliação" required>
      </div>

      <!-- Input para múltiplas imagens -->
      <div class="mb-3">
        <input type="file" name="imagens" accept="image/*" multiple required onchange="previewImagens(event)">
        <div id="preview-container"></div> <!-- Área para pré-visualizar imagens -->
      </div>

      <input type="hidden" name="imagemPrincipal" id="imagemPrincipal">

      <button type="submit" class="btn btn-primary">Salvar</button>

      <button type="button" class="btn btn-primary" th:onclick="|window.location.href='@{/produtos}'|">Cancelar</button>

    </form>

  </div>
</div>

<script>
  function previewImagens(event) {
    const previewContainer = document.getElementById('preview-container');
    previewContainer.innerHTML = '';

    const files = event.target.files;

    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      let reader = new FileReader();
      reader.onload = function (e) {
        let div = document.createElement('div');
        div.innerHTML = `
        <input type="radio" name="principal" value="${file.name}" ${i === 0 ? 'checked' : ''} onchange="document.getElementById('imagemPrincipal').value=this.value">
        <img src="${e.target.result}" style="width:100px; margin:5px;">
      `;
        previewContainer.appendChild(div);

        // Se for a primeira imagem, define como principal por padrão
        if (i === 0) {
          document.getElementById('imagemPrincipal').value = file.name;
        }
      };
      reader.readAsDataURL(file);
    }
  }
</script>

</body>
</html>
