<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Imaginarte - Cadastro</title>
  <link rel="stylesheet" th:href="@{/css/cadastroProduto.css}" type="text/css">
</head>

<body>

<div class="container">
  <div class="formulario">
    <h2>Insira os dados</h2>

    <form th:action="@{/produtos/cadastroProduto}" method="post" enctype="multipart/form-data"
          th:object="${produtoAdminDto}" onsubmit="return validarFormulario(this)">

      <!-- Campo oculto para armazenar o ID do usuário -->
      <input type="hidden" id="id" name="id" th:field="*{id}">

      <div class="mb-3">
        <input class="form-control" th:field="*{nome}" type="text" placeholder="Nome do Produto" required>
      </div>

      <div class="mb-3">
        <input class="form-control" th:field="*{preco}" type="text" placeholder="Preço" required>
      </div>

      <div class="mb-3">
        <input class="form-control" th:field="*{quantidade}" type="text" placeholder="Quantidade" required>
      </div>

      <div class="mb-3">
        <input class="form-control" th:field="*{descricao}" type="text" placeholder="Descrição" required>
      </div>

      <div class="mb-3">
        <input class="form-control" th:field="*{avaliacao}" type="text" placeholder="Avaliação" required>
      </div>

      <button type="submit" class="btn btn-primary">Salvar</button>

      <a th:href="@{/produtos}" class="btn btn-primary">Cancelar</a>

    </form>

  </div>
</div>

</body>
</html>
