body {
    background-color: #FFF8EF;
    font-family: "Arial", serif;
}

.container {
   width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.formulario {
    text-align: center;

    border: 4px solid #FEB6C6;
    border-radius: 10px;
    padding: 30px;
    background-color: #FFF8EF;
    width: 350px;
}

.btn-primary {
    background-color: #A0E6B2;
    color: #FFF8EF;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 37px;
    margin-top: 25px;
}

.btn-primary:hover {
    background-color: #87D39E !important;  /* Adicionei o !important para garantir que o hover funcione */
    cursor: pointer;  /* Adiciona um cursor pointer para indicar que é clicável */
}

.form-control{
    width: 300px;
    height: 37px;
    border-radius: 5px;
    border-color: #FEB6C6;
    margin: 5px;
}

input::placeholder {
    color: #FEB6C6;
}



h2 {
    color: #FEB6C6;
    text-align: center;
}

