body {
    background-color: #FFF8EF;
    font-family: "Arial", serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formulario {
    text-align: center;
    border: 4px solid #FEB6C6;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: #FFF8EF;
    width: 350px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}

h2 {
    color: #FEB6C6;
    margin-bottom: 20px;
}

/* Inputs e selects */
.form-control {
    width: 100%;
    max-width: 300px;
    height: 37px;
    border-radius: 5px;
    border: 1px solid #FEB6C6;
    margin: 0 auto 12px auto;
    display: block;
    padding: 0 10px;
    box-sizing: border-box;
}

input::placeholder,
select {
    color: #FEB6C6;
}

/* Botões */
.btn-primary {
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 5px;
    width: 140px;
    height: 37px;
    transition: background-color 0.3s ease;
    color: #FFF8EF;
    background-color: #A0E6B2;
}

.btn-primary:hover {
    background-color: #87D39E !important;
    cursor: pointer;
}

/* Etapas */
.step-container {
    width: 100%;
    overflow: hidden;
}

.steps-wrapper {
    display: flex;
    width: 700px; /* 2 * 350px */
    transition: transform 0.5s ease-in-out;
}

/* Cada etapa */
.step {
    width: 350px;
    flex-shrink: 0;
    padding: 0 10px;
}

/* Erros */
.text-danger {
    color: red;
    font-size: 0.85rem;
    text-align: left;
    max-width: 300px;
    margin: -10px auto 10px auto;
}

.btn-secondary {
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 5px;
    width: 140px;
    height: 37px;
    transition: background-color 0.3s ease;
    color: #FFF8EF;
    background-color: #FEB6C6;
}

.btn-secondary:hover {
    background-color: #f59aaf;
    cursor: pointer;
}
