body {
    background-color: #FFF8EF;
    font-family: "Arial", serif;
}

.container {
   width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btn-primary{
    background-color: #A0E6B2;
    border: 0;
    border-radius: 5px;
    color: #FFF8EF;
    width: 300px;
    height: 37px;
}

.form-control{
    width: 300px;
    height: 37px;
    border-radius: 5px;
    border-color: #FEB6C6;
    margin: 5px;
}

input::placeholder {
    color: #FEB6C6;
}



h2 {
    color: #FEB6C6;
    text-align: center;
    padding-bottom: 20px;
}

